@import '../../app.component.scss';

@font-face {
  font-family: 'Univers';
  src: url('../../../assets/fonts/Univers/Univers\ LT\ Std\ 49\ Light\ Ultra\ Condensed.otf');
}

section {
  .text {
    color: var(--text-yellow);

    h1 {
      text-align: center;
      font-family: 'Univers', Helvetica, sans-serif;
      text-transform: uppercase;
    }

    p {
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.8rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
    }
  }

  #starships-button {
    @include main-button;

  }
}


@media (min-width: 768px) {
  section {
    margin: 0 auto;
    width: 50%;

    #starships-button {
      padding: 1rem 2rem;
      
      a {
        font-size: 1.1rem !important;
      }
    }
  }
}

@media (min-width: 1024px) {
  section {
    #starships-button {
      padding: 1rem 2.5rem;

      a {
        font-size: 1.3rem !important;
      }
    }
  }
}

@media (min-width: 1280px) {
  section {
    max-width: 500px;
  }
}

