<section class="p-4 px-8 pb-10 flex flex-col items-center gap-10">
  <div class="text">
    <h1>Welcome, Padawan, to the Galactic Fleet Database!</h1>
    <p>"In a galaxy far, far away..."

      Embark on an epic journey through the stars as we unveil the secrets of the vast armada that traverses the cosmos. The Galactic Fleet Database is your ultimate guide to the iconic starships that have graced the Star Wars saga. From the sleek and nimble starfighters to the colossal capital ships, every vessel tells a story of courage, rebellion, and the eternal battle between the light and the dark side.
      <br>
      <br>
      Explore the comprehensive collection of ships featured in every Star Wars film, meticulously cataloged and detailed for your Jedi-like curiosity. Whether you're a seasoned pilot or a humble moisture farmer, our database provides in-depth information on the specifications, history, and notable appearances of each ship. Immerse yourself in the lore, learn about the legendary Millennium Falcon, the ominous Imperial Star Destroyers, and the nimble X-wings that danced through the Death Star trench.
      <br>
      <br>
      May the Force guide you as you navigate through the stars, discovering the intricacies of these vessels that have become the backbone of the Star Wars universe. Join us in this quest for knowledge, and may your journey through the Galactic Fleet Database be as thrilling as a podrace on Tatooine!
      <br>
      <br>
      May the Force be with you...</p>
  </div>
  <button type="button" class="uppercase w-fit mt-4" id="starships-button">
    <a [routerLink]="['/starships']" routerLinkActive="router-link-active" >Browse Starships</a>
  </button>
</section>
