
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$starwars-primary: mat.define-palette(mat.$indigo-palette);
$starwars-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$starwars-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$starwars-theme: mat.define-light-theme((
  color: (
    primary: $starwars-primary,
    accent: $starwars-accent,
    warn: $starwars-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($starwars-theme);

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --main-white: #f8f8f8;
  --dark-gray: #48494a;
  --main-gray: #1D1E1F;
  --text-gray: #A0A0A0;
  --text-yellow: #FCC203;
  --text-black: #333335;
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url('../src/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
  /* Puedes agregar más formatos y configuraciones según sea necesario */
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  /* Puedes agregar más formatos y configuraciones según sea necesario */
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: var(--main-white);
}

* {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p, span, li, a {
  font-size: 0.85rem;
}

input, button {
  font-size: 0.9rem !important;
}

//modal custom
.cdk-overlay-container {
  overflow-y: scroll;

  .cdk-overlay-backdrop {
    background: url('assets/images/starwars-background-web.webp') !important;
  }

  .cdk-overlay-pane {
    max-width: none !important;

    /* En tu hoja de estilos o en el componente */
    .mat-dialog-container {
      height: auto;
    }

    .mat-mdc-dialog-surface {
      border-radius: 2rem !important;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p, span, li {
    font-size: 1rem;
  }
  .cdk-overlay-pane {
    max-width: 80vw;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p, span, li {
    font-size: 1.3rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  p, span, li {
    font-size: 1.5rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
